In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_theme(style="whitegrid")

In [3]:
df_index = (pd.read_csv("../../data/raw/Montly Data/Montly-index.csv")
           .drop(["UOM_ID","SCALAR_ID", "COORDINATE","SYMBOL","TERMINATED","DECIMALS"], axis =1)
           .groupby(["REF_DATE","VALUE"]).agg('mean','count')
           .dropna())

In [4]:
df_index

Empty DataFrame
Columns: []
Index: [(1981-01, 16.7), (1981-01, 18.7), (1981-01, 19.4), (1981-01, 19.8), (1981-01, 20.3), (1981-01, 20.7), (1981-01, 22.6), (1981-01, 24.8), (1981-01, 25.3), (1981-01, 26.0), (1981-01, 26.6), (1981-01, 27.0), (1981-01, 27.8), (1981-01, 28.0), (1981-01, 28.3), (1981-01, 28.5), (1981-01, 29.3), (1981-01, 30.0), (1981-01, 30.1), (1981-01, 30.3), (1981-01, 30.4), (1981-01, 30.6), (1981-01, 30.8), (1981-01, 31.4), (1981-01, 31.8), (1981-01, 32.5), (1981-01, 32.6), (1981-01, 32.7), (1981-01, 33.0), (1981-01, 34.0), (1981-01, 34.9), (1981-01, 35.6), (1981-01, 35.8), (1981-01, 36.1), (1981-01, 36.5), (1981-01, 37.5), (1981-01, 38.0), (1981-01, 38.2), (1981-01, 39.1), (1981-01, 39.9), (1981-01, 40.6), (1981-01, 43.4), (1981-01, 46.0), (1981-01, 47.5), (1981-01, 50.5), (1981-01, 51.0), (1981-01, 51.4), (1981-01, 54.6), (1981-01, 54.7), (1981-01, 55.9), (1981-01, 61.2), (1981-01, 61.4), (1981-01, 64.9), (1981-01, 83.5), (1981-01, 90.5), (1981-01, 96.1), (1981-01, 128.7), (1981-01, 206.8), (1981-02, 17.1), (1981-02, 18.7), (1981-02, 19.6), (1981-02, 20.2), (1981-02, 20.3), (1981-02, 20.7), (1981-02, 21.2), (1981-02, 23.2), (1981-02, 24.9), (1981-02, 25.5), (1981-02, 26.0), (1981-02, 26.9), (1981-02, 27.5), (1981-02, 28.1), (1981-02, 28.5), (1981-02, 28.6), (1981-02, 28.8), (1981-02, 29.7), (1981-02, 30.2), (1981-02, 30.4), (1981-02, 30.5), (1981-02, 30.6), (1981-02, 30.8), (1981-02, 31.8), (1981-02, 32.3), (1981-02, 32.5), (1981-02, 32.6), (1981-02, 32.9), (1981-02, 33.0), (1981-02, 34.1), (1981-02, 35.4), (1981-02, 35.6), (1981-02, 35.8), (1981-02, 36.1), (1981-02, 36.2), (1981-02, 36.5), (1981-02, 36.8), (1981-02, 37.5), (1981-02, 38.0), (1981-02, 38.7), (1981-02, 39.3), (1981-02, 39.9), ...]

[36402 rows x 0 columns]