# Jack Saunders

## Research question/interests

My Research Question will be: Looking at the past data, can we reasonably conclude if the housing market will continue to inflate, or does the data show that the market is more likely to level out, or even crash?



This question will need to look at the current data, as well as recent history data in order to determine whether or not there is a trend we can predict according to the said data. Using graphs and visualizations, I want to determine if there is enough of a pattern to follow which will allow me to reasonably predict the future of the market. I would probably have to heavily base my visualizations based on the dates. In order to provide a prediction however the proof of a trend must be very convincing so variance will be very important to include as well.

In [2]:
import seaborn as sns
import numpy as np
import pandas as pd

In [3]:
df_index= pd.read_csv("../data/raw/Montly Data/Montly-index.csv")
df_quality = pd.read_csv("../data/raw/Quality Long-Form Data/Housing-quality.csv")

In [8]:
df_index

,REF_DATE,GEO,DGUID,New housing price indexes,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1981-01,Canada,2016A000011124,Total (house and land),"Index, 201612=100",347,units,0,v111955442,1.1,38.2,NaN,NaN,NaN,1
1,1981-01,Canada,2016A000011124,House only,"Index, 201612=100",347,units,0,v111955443,1.2,36.1,NaN,NaN,NaN,1
2,1981-01,Canada,2016A000011124,Land only,"Index, 201612=100",347,units,0,v111955444,1.3,40.6,E,NaN,NaN,1
3,1981-01,Atlantic Region,2016A00011,Total (house and land),"Index, 201612=100",347,units,0,v111955445,2.1,NaN,..,NaN,NaN,1
4,1981-01,Atlantic Region,2016A00011,House only,"Index, 201612=100",347,units,0,v111955446,2.2,NaN,..,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60475,2022-12,"Vancouver, British Columbia",2011S0503933,House only,"Index, 201612=100",347,units,0,v111955557,39.2,126.8,NaN,NaN,NaN,1
60476,2022-12,"Vancouver, British Columbia",2011S0503933,Land only,"Index, 201612=100",347,units,0,v111955558,39.3,121.4,E,NaN,NaN,1
60477,2022-12,"Victoria, British Columbia",2011S0503935,Total (house and land),"Index, 201612=100",347,units,0,v111955559,40.1,125.0,NaN,NaN,NaN,1
60478,2022-12,"Victoria, British Columbia",2011S0503935,House only,"Index, 201612=100",347,units,0,v111955560,40.2,131.9,NaN,NaN,NaN,1
60479,2022-12,"Victoria, British Columbia",2011S0503935,Land only,"Index, 201612=100",347,units,0,v111955561,40.3,110.8,E,NaN,NaN,1